*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
   
}
p{
    font-size: 16px !important;
}
table th{
    font-size: 16px !important;
}



@media only screen and (max-width: 500px) {
    .ant-picker-panel-container{
       width: 300px;
       height: 300px;
       overflow-x: scroll !important;
    }
  }
