.mainlayoutCon{
width: 100%;
height:100vh;
.sidebar{
    position: sticky;
    top: 0;
    @media (max-width:410px) {
         display: none !important;
    }
}
.logo-vertical{
    padding: 10px;
    font-size: 20px;
    color: white !important;
}
}